* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex-container {
    background-color: pink;
    margin: 10px;
}

.flex-item {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    font-size: 30px;
    font-weight: bold;
}